body {
    background: white;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: rgb(255, 0, 0);
}

h3 {
    margin-top: 20px;
}

.div1 {
    background-color: rgb(228, 228, 228);
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(0, 24, 158);
}

a:visited {
    color: rgb(28, 0, 59);
}

.btn-custom {
    background-image: linear-gradient(to right, #ff3ef5 5%, #dc68ff 15%, #5c5fff 33%, #48e1f5 44%, #58ff52 55%, #fffc5e 66%, #ffbd2e 77%, #ff5151 88%, #ff3ef5 100%);
    position: relative;
    padding: 3px;
    display: inline-block;
    border-radius: 7px;
}

.span-custom {
    display: inline-block;
    background: white;
    color: #191919;
    text-transform: uppercase;
    padding: 0 20px;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 1.8em;
}

.span-input {
    background-color: rgb(197, 197, 197);
    border-color: rgb(197, 197, 197);
}

p {
    margin: unset;
    font-size: 1.4em;
    vertical-align: middle;
}

html {
    scrollbar-color: #851010 #530505;
    scrollbar-width: thin;
}

.statistic {
    background-color: rgb(197, 197, 197);
    color: rgb(0, 0, 0);
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 14px;
}

.span-custom:hover {
    background-image: linear-gradient(to right, #ff3ef5 5%, #dc68ff 15%, #5c5fff 33%, #48e1f5 44%, #58ff52 55%, #fffc5e 66%, #ffbd2e 77%, #ff5151 88%, #ff3ef5 100%);
}

.i-big {
    color: rgb(255, 0, 0);
}

.i-small {
    color: black;
    font-size: 1.2em;
    vertical-align: sub;
}

.i_header {
    font-size: 72px;
}

.i_input {
    font-size: 38px;
}

.label-custom {
    background-color: rgb(197, 197, 197);
    border-color: rgb(197, 197, 197);
}

.input-custom {
    background-color: rgb(255, 255, 255);
    border-color: rgb(160, 160, 160);
    color: rgb(129, 129, 129);
}

/* Franz */
.single-video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: rgb(197, 197, 197);
    margin-top: 1%;
    padding: 20px 0 20px 0;
    position: relative;
}

.single-video-thumbnail {
    grid-area: 1 / 1 / 2 / 2;
    margin: 5% auto;
    max-width: 350px;
}

.single-video-stats {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    margin: 0px;
    min-width: 600px;
    max-width: 1000px;
}

.btn-delete-element {
    grid-area: 1 / 3 / 2 / 4;
    size: 50%;
    color: #ff0000b7;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: #ff0000b7 solid 4px;;
    border-radius: 50%;
    margin: 0 0 0 40%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-delete-element:hover {
    background-color: #c96e6e;
}

.btn-delete-element:active {
    background-color: #752727;
}

.scroll-box {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #a3a3a394;
}

::-webkit-scrollbar-thumb {
    background: #3b3b3bab;
    border-radius: 10px;
}
